@import "tailwindcss";

/* styles/global.css */

:root {
  --color-dark: #3B1E54;
  --color-primary: #9B7EBD;
  --color-light-accent: #D4BEE4;
  --color-light: #EEEEEE;
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-light-accent {
  background-color: var(--color-light-accent);
}

.bg-light {
  background-color: var(--color-light);
}

.text-dark {
  color: var(--color-dark);
}

.text-primary {
  color: var(--color-primary);
}

.text-light-accent {
  color: var(--color-light-accent);
}

.text-light {
  color: var(--color-light);
}

.border-primary {
  border-color: var(--color-primary);
}

.border-light-accent {
  border-color: var(--color-light-accent);
}

.hover\:bg-primary:hover {
  background-color: var(--color-primary);
}

.hover\:bg-dark:hover {
  background-color: var(--color-dark);
}

.focus\:ring-primary:focus {
  --tw-ring-color: var(--color-primary);
}

.focus\:ring-light-accent:focus {
  --tw-ring-color: var(--color-light-accent);
}